<footer class="element__footer">
  <div class="element__footer__institutional">
    <h4>Institucional</h4>
    <a href="link-para-politica-de-privacidade">Política de Privacidade</a>
    <a href="link-para-trabalhe-conosco">Trabalhe conosco</a>
    <a href="link-para-programa-de-afiliados">Programa de Afiliados</a>
    <a href="link-para-regulamentos">Regulamentos</a>
    <a href="link-para-blog">Blog</a>
  </div>

  <div class="element__footer__informations">
    <h4>Informações</h4>
    <a href="link-para-sobre-nos">Sobre nós</a>
    <a href="link-para-carreira">Carreira</a>
    <a href="link-para-imprensa">Imprensa</a>
  </div>

  <div class="element__footer__colections">
    <h4>Coleções</h4>
    <a href="link-para-originals">Originals</a>
    <a href="link-para-skyline">SkyLine</a>
    <a href="link-para-flash">Flash</a>
    <a href="link-para-hype">Hype</a>
    <a href="link-para-ultra">Ultra</a>
  </div>

  <div class="element__footer__help">
    <h4>Ajuda</h4>
    <a href="link-para-duvidas-gerais">Dúvidas gerais</a>
    <a href="link-para-encontre-seu-tamanho">Encontre seu tamanho</a>
    <a href="link-para-entregas">Entregas</a>
    <a href="link-para-pedidos">Pedidos</a>
    <a href="link-para-trocas-e-devolucoes">Trocas e Devoluções</a>
    <a href="link-para-pagamentos">Pagamentos</a>
    <a href="link-para-produtos">Produtos</a>
    <a href="link-para-corporativo">Corporativo</a>
    <a href="link-para-fale-conosco">Fale conosco</a>
  </div>

  <div class="element__footer__social__media">
    <h4>Redes sociais</h4>
    <a href="link-facebook"><mat-icon>facebook</mat-icon></a>
    <a><img src="../../../assets/icons/social medias/icon-youtube.svg"></a>
    <a><img src="../../../assets/icons/social medias/icon-twitter.svg"></a>
  </div>
</footer>
