<app-navbar></app-navbar>
    <section class="element__sports">
        <div class="element__sports__gef__esporte">
            <img src="../../../assets/icons/shoe.svg">
            <h3>GEF ESPORTE</h3>
            <span>(8)</span>
        </div>
        <p>Compre os tênis GEF Esporte criados para melhorar seu rendimento enquanto treina ou pratica seu esporte favorito.</p>

        <div class="element__sports__linha__esporte">
            <h2>Linha GEF Esporte</h2>
            <h3>8 Itens</h3>
        </div>

       <div class="element__sports__list">
            <div (click)="produto()">
                <img src="../../../assets/images/children-tenis-1.png" alt="">
                <p><b>Tênis GEF Ultra SkyLine</b></p>
                <p>Masculino Skyline</p>
                <p>R$ 249,90</p>
            </div>

            <div (click)="produto()">
                <img src="../../../assets/images/children-tenis-1.png" alt="">
                <p><b>Tênis GEF Ultra SkyLine</b></p>
                <p>Masculino Skyline</p>
                <p>R$ 249,90</p>
            </div>

            <div (click)="produto()">
                <img src="../../../assets/images/children-tenis-1.png" alt="">
                <p><b>Tênis GEF Ultra SkyLine</b></p>
                <p>Masculino Skyline</p>
                <p>R$ 249,90</p>
            </div>

            <div (click)="produto()">
                <img src="../../../assets/images/children-tenis-1.png" alt="">
                <p><b>Tênis GEF Ultra SkyLine</b></p>
                <p>Masculino Skyline</p>
                <p>R$ 249,90</p>
            </div>

            <div (click)="produto()">
                <img src="../../../assets/images/children-tenis-1.png" alt="">
                <p><b>Tênis GEF Ultra SkyLine</b></p>
                <p>Masculino Skyline</p>
                <p>R$ 249,90</p>
            </div>

            <div (click)="produto()">
                <img src="../../../assets/images/children-tenis-1.png" alt="">
                <p><b>Tênis GEF Ultra SkyLine</b></p>
                <p>Masculino Skyline</p>
                <p>R$ 249,90</p>
            </div>

            <div (click)="produto()">
                <img src="../../../assets/images/children-tenis-1.png" alt="">
                <p><b>Tênis GEF Ultra SkyLine</b></p>
                <p>Masculino Skyline</p>
                <p>R$ 249,90</p>
            </div>

            <div (click)="produto()">
                <img src="../../../assets/images/children-tenis-1.png" alt="">
                <p><b>Tênis GEF Ultra SkyLine</b></p>
                <p>Masculino Skyline</p>
                <p>R$ 249,90</p>
            </div>
       </div>
        
        
    </section>
<app-footer></app-footer>
