<app-navbar></app-navbar>
<section class="element__children">
    <div class="element__children__blackfriday">
        <div class="element__children__text">
          <h2>🔥 BLACK FRIDAY GEF 🔥</h2>
          <p>
            GEFSHOES está com as melhores ofertas para essa Black Friday.
          </p>
          <button
            class="element__children__button__buy"
            style="color: #252525 !important; background-color: #ffffff !important"
            mat-raised-button
          >
            Comprar agora
          </button>
        </div>
        <div class="element__children__welcome__img">
            <div class="element__children__black__square">
                <img
                    style="width: 100%"
                    src="../../../assets/images/background-children.jpg"
                    alt="Mulheres conversando após treino"
                    loading="eager"
                />
                <h2 class="element__children__main__right">BLACK FRIDAY</h2>
                <h3 class="element__children__main__right">até</h3>
                <h2 class="element__children__main__right">70%</h2> 
                <h2 class="element__children__main__right">OFF</h2>
            </div>
        </div>
      </div>

      <div class="element__children__new__product tela-fundo">
        <img src="../../../assets/images/background-children-2.jpg" alt="">
        <div class="element__children__product__information">
            <h2>LANÇAMENTO GEF KID</h2>
            <p>O Tênis mais confortável para sua criança, curta cada momento com GEF KID</p>
        </div>
        <button>COMPRAR AGORA</button>
      </div>
      <div class="element__children__under__new__product">
        <p>Quer os seus pequenos caminhando com muito mais conforto e estilo? Então você precisa conhecer o calçado GEF KID.</p>
      </div>


      <div class="products-text">
        <h2>Linha Infantil GEF</h2>
        <h2>8 Itens</h2>
      </div>
      <div class="products">
        <div (click)="produto()"  >
          <img src="../../../assets/images/children-tenis-1.png" alt="">
          <p><b>Tênis GEF Ultra SkyLine</b></p>
          <p>Masculino Skyline</p>
          <p>R$ 249,90</p>
      </div>

      <div (click)="produto()">
          <img src="../../../assets/images/children-tenis-1.png" alt="">
          <p><b>Tênis GEF Ultra SkyLine</b></p>
          <p>Masculino Skyline</p>
          <p>R$ 249,90</p>
      </div>

      <div (click)="produto()">
          <img src="../../../assets/images/children-tenis-1.png" alt="">
          <p><b>Tênis GEF Ultra SkyLine</b></p>
          <p>Masculino Skyline</p>
          <p>R$ 249,90</p>
      </div>

      <div (click)="produto()">
          <img src="../../../assets/images/children-tenis-1.png" alt="">
          <p><b>Tênis GEF Ultra SkyLine</b></p>
          <p>Masculino Skyline</p>
          <p>R$ 249,90</p>
      </div>

      <div (click)="produto()">
          <img src="../../../assets/images/children-tenis-1.png" alt="">
          <p><b>Tênis GEF Ultra SkyLine</b></p>
          <p>Masculino Skyline</p>
          <p>R$ 249,90</p>
      </div>

      <div (click)="produto()">
          <img src="../../../assets/images/children-tenis-1.png" alt="">
          <p><b>Tênis GEF Ultra SkyLine</b></p>
          <p>Masculino Skyline</p>
          <p>R$ 249,90</p>
      </div>

      <div (click)="produto()">
          <img src="../../../assets/images/children-tenis-1.png" alt="">
          <p><b>Tênis GEF Ultra SkyLine</b></p>
          <p>Masculino Skyline</p>
          <p>R$ 249,90</p>
      </div>

      <div (click)="produto()">
          <img src="../../../assets/images/children-tenis-1.png" alt="">
          <p><b>Tênis GEF Ultra SkyLine</b></p>
          <p>Masculino Skyline</p>
          <p>R$ 249,90</p>
      </div>
      </div>

</section>
<app-footer></app-footer>
