mat-icon {
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    h1 {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__input {
    width: 100%;

    p {
      font-size: 15px;
    }

    mat-form-field {
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    bottom: 0;
  }
}

/* Responsividade */

@media screen and (max-width: 425px) {
  .modal__buttons {
    flex-direction: column;
  }

  .modal__buttons__cancel {
    margin-bottom: 15px;
  }
}

// Loading
.loading {
  background: #000;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-loader {
  position: absolute;
  top: 45%;
  opacity: 1;
  --s: 25px;
  height: calc(var(--s) * 0.9);
  width: calc(var(--s) * 5);
  --v1: transparent, #000 0.5deg 108deg, #0000 109deg;
  --v2: transparent, #000 0.5deg 36deg, #0000 37deg;
  -webkit-mask: conic-gradient(from 54deg at calc(var(--s) * 0.68) calc(var(--s) * 0.57), var(--v1)),
    conic-gradient(from 90deg at calc(var(--s) * 0.02) calc(var(--s) * 0.35), var(--v2)),
    conic-gradient(from 126deg at calc(var(--s) * 0.5) calc(var(--s) * 0.7), var(--v1)),
    conic-gradient(from 162deg at calc(var(--s) * 0.5) 0, var(--v2));
  -webkit-mask-size: var(--s) var(--s);
  -webkit-mask-composite: xor, destination-over;
  mask-composite: exclude, add;
  -webkit-mask-repeat: repeat-x;
  background: linear-gradient(#000000 0 0) left/0% 100% #E4E4ED no-repeat;
  animation: p10 2s infinite linear;
}

@keyframes p10 {

  90%,
  100% {
    background-size: 100% 100%;
  }
}
