<div class="modal">

  <div>
    <div class="modal__title">
      <h1 mat-dialog-title>Esqueceu sua senha?</h1>
      <mat-icon (click)="closeModal()">close</mat-icon>
    </div>

    <div class="loading" *ngIf="isLoading">
      <div class="custom-loader"></div>
    </div>
    <div class="modal__input" mat-dialog-content>
      <p>Fique tranquilo, basta preencher o campo solicitado para recuperar sua senha:</p>
      <form [formGroup]="forgotPasswordForm">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input type="email" formControlName="email" placeholder="e-mail" matInput required>
          <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('pattern')">
            Por favor, insira um e-mail válido.
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="modal__buttons" mat-dialog-actions>
    <button class="modal__buttons__cancel" mat-button (click)="closeModal()">Cancelar</button>
    <button mat-button type="submit" (click)="forgotPassword()" [disabled]="!forgotPasswordForm.valid" mat-dialog-close
      cdkFocusInitial>Envie um e-mail de recuperação</button>
  </div>

</div>
