<app-navbar></app-navbar>
<section class="element__masculine">
    <div class="element__masculine__blackfriday">
        <div class="element__masculine__text">
          <h2>🔥 BLACK FRIDAY GEF 🔥</h2>
          <p>
            GEFSHOES está com as melhores ofertas para essa Black Friday.
          </p>
          <button
            class="element__masculine__button__buy"
            style="color: #252525 !important; background-color: #ffffff !important"
            mat-raised-button
          >
            Comprar agora
          </button>
        </div>
        <div class="element__masculine__welcome__img">
            <div class="element__masculine__black__square">
                <img
                    style="width: 100%"
                    src="../../../assets/images/background-masculine.jpg"
                    alt="Mulheres conversando após treino"
                    loading="eager"
                />
                <h2 class="element__masculine__main__right">BLACK FRIDAY</h2>
                <h3 class="element__masculine__main__right">até</h3>
                <h2 class="element__masculine__main__right">70%</h2> 
                <h2 class="element__masculine__main__right">OFF</h2>
            </div>
        </div>
      </div>

      <div class="element__masculine__options">
        <h2 class="element__masculine__h2__left">Futebol</h2>
        <div class="element__masculine__informations">
            <div class="element__masculine__images">
                <img class="block" src="../../../assets/images/masculino-futebol-1.jpg" alt="Imagem de futebol chute a gol">
                <img src="../../../assets/images/masculino-futebol-2.jpg" alt="Imagem de futeol drible em partida">
            </div>
            <h2>NOVAS CHUTEIRAS PARA OS JOGADORES GEF</h2>
            <p>Do gramado para o seu jogo - Escolha a chuteira perfeita para brilhar</p>
            <button>Ver Chuteiras</button>
        </div>

        <h2 class="element__masculine__h2__left">Corrida</h2>
        <div class="element__masculine__informations">
            <div class="element__masculine__images">
                <img class="block" src="../../../assets/images/masculino-corrida-1.jpg" alt="Mulher correndo em um circuito">
                <img class="block" src="../../../assets/images/masculino-corrida-2.jpg" alt="Imagem focado no tênis branco de uma mulher caminhando">
                <img src="../../../assets/images/masculino-corrida-3.jpg" alt="Mulher correndo em uma pista de corrida">
            </div>
            <h2>NOVOS TÊNIS DE CORRIDA</h2>
            <p>Da trilha à cidade, nossos tênis de corrida são feitos para qualquer terreno</p>
            <button>Ver Tênis</button>
        </div>

        <h2 class="element__masculine__h2__left">Treino</h2>
        <div class="element__masculine__informations">
            <div class="element__masculine__images">
                <img class="block" src="../../../assets/images/masculino-treino-1.jpg" alt="Mulher aquecendo para começar o treino">
                <img src="../../../assets/images/masculino-treino-2.jpg" alt="Mulher na academia treinando os braços">
            </div>
            <h2>NOVOS TÊNIS PARA SEU TREINO</h2>
            <p>De levantamentos a corridas nossos tênis são o parceiro ideal para todos os seus exercícios</p>
            <button>Ver Tênis</button>
        </div>
      </div>
</section>
<app-footer></app-footer>
