<section class="page__redefinir-senha">
  <div class="page__redefinir-senha__title">
    <h1>Redefinição de senha</h1>
    <p>
      Siga o processo de redefinição de senha<br />
      para restaurar o acesso à sua conta.
    </p>
  </div>

  <div class="page__redefinir-senha__form">
    <form [formGroup]="redefinirSenhaForm" #content>
      <!-- E-mail  -->
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          id="email"
          type="email"
          matInput
          color="primary"
          formControlName="emailInput"
          autocomplete="email"
          [disabled]="true"
          required
        />
      </mat-form-field>

      <!-- Senha  -->
      <mat-form-field>
        <mat-label>Nova senha</mat-label>
        <input
          id="senha"
          matInput
          type="password"
          #password
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          autocomplete="on"
          required
        />
        <button
          class="form__icon__eyes"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <div class="page__redefinir-senha__button__reset">
      <button mat-raised-button type="submit" (click)="redefinirSenha()">Salvar nova senha</button>
    </div>
  </div>
</section>
