.page__redefinir-senha {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  height: 80%;

  &__title {
    animation: slide 1.2s linear;

    padding: 50px;
    text-align: center;

    h1 {
      font-size: 40px;
      font-weight: 600;
    }

    p {
      font-size: 18px;
      margin: 0;
    }
  }

  &__form {
    animation: slideToLoad 1s linear;
    min-width: 500px;

    form {
      display: flex;
      flex-direction: column;
    }

  }


  &__button__reset {

    button {
      padding: 20px 50px 20px 50px;
      border-radius: 50px;
    }
  }
}

/* Efeitos */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideToLoad {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
  }
}

/* Responsividade */
@media screen and (max-width: 425px) {
  .page__redefinir-senha__form {
    min-width: 90%;
  }

  .page__redefinir-senha__button {
    width: 90%;
  }
}

// Sobrescevendo cores do Angular Material
::ng-deep .mat-mdc-raised-button:not(:disabled) {
  color: #ffffff !important;
  background-color: #252525 !important;
}
