<app-navbar></app-navbar>
<section class="element__gefworld">
    <div class="element__gefworld__news__products">
        <h2>NOVOS PRODUTOS E LANÇAMENTOS</h2>
        <span>(8)</span>
    </div>
    <p>Os últimos lançamentos, os mais novos produtos e coleções da loja GEF Shoes.</p>

    <div class="element__gefworld__list">
        <div (click)="produto()">
            <img src="../../../assets/images/children-tenis-1.png" alt="">
            <p><b>Tênis GEF Ultra SkyLine</b></p>
            <p>Masculino Skyline</p>
            <p>R$ 249,90</p>
        </div>

        <div (click)="produto()">
            <img src="../../../assets/images/children-tenis-1.png" alt="">
            <p><b>Tênis GEF Ultra SkyLine</b></p>
            <p>Masculino Skyline</p>
            <p>R$ 249,90</p>
        </div>

        <div (click)="produto()">
            <img src="../../../assets/images/children-tenis-1.png" alt="">
            <p><b>Tênis GEF Ultra SkyLine</b></p>
            <p>Masculino Skyline</p>
            <p>R$ 249,90</p>
        </div>

        <div (click)="produto()">
            <img src="../../../assets/images/children-tenis-1.png" alt="">
            <p><b>Tênis GEF Ultra SkyLine</b></p>
            <p>Masculino Skyline</p>
            <p>R$ 249,90</p>
        </div>

        <div (click)="produto()">
            <img src="../../../assets/images/children-tenis-1.png" alt="">
            <p><b>Tênis GEF Ultra SkyLine</b></p>
            <p>Masculino Skyline</p>
            <p>R$ 249,90</p>
        </div>

        <div (click)="produto()">
            <img src="../../../assets/images/children-tenis-1.png" alt="">
            <p><b>Tênis GEF Ultra SkyLine</b></p>
            <p>Masculino Skyline</p>
            <p>R$ 249,90</p>
        </div>

        <div (click)="produto()">
            <img src="../../../assets/images/children-tenis-1.png" alt="">
            <p><b>Tênis GEF Ultra SkyLine</b></p>
            <p>Masculino Skyline</p>
            <p>R$ 249,90</p>
        </div>

        <div (click)="produto()">
            <img src="../../../assets/images/children-tenis-1.png" alt="">
            <p><b>Tênis GEF Ultra SkyLine</b></p>
            <p>Masculino Skyline</p>
            <p>R$ 249,90</p>
        </div>
   </div>
</section>
<app-footer></app-footer>