// :host {
//   display: block;
//   height: 100vh;
//   background-image: url('../../../assets/images/fundo-onda.jpg');
//   background-size: cover;
//   background-position: center;
//   margin: 0;
//   padding: 0;
// }

.page-result {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 80%;

  animation: slideToLoad 0.5s ease;

  &__image {
    img {
      width: 80px;
    }
  }

  &__title {
    margin-top: 20px;

    h3 {
      font-size: 23px;
      font-weight: 500;
    }

    p {
      font-size: 18px;
    }
  }

  &__button {
    margin-top: 20px;

    button {
      padding: 20px;
      border-radius: 60px;
    }
  }
}

// Animação
@keyframes slideToLoad {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
  }
}


// Sobrescevendo cores do Angular Material
::ng-deep .mat-mdc-raised-button:not(:disabled) {
  color: #ffffff !important;
  background-color: #252525 !important;
}
